/* ヘッダー*/
#practice_header {
    position: fixed;
    width: 100%;
    top: auto;
    z-index: 999;
    background: white;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.practice_header-title {
    padding: 5px;
    background-color: #0268cc;
    font-size: 10px;
    color: white;
}

.practice_header_menu {
    height: 50px;
    display: flex;
    justify-content: center;
    /*display: -webkit-flex;*/
    /*display: -moz-flex;*/
    /*display: -ms-flex;*/
    /*display: -o-flex;*/
    position: relative;
    padding-left: 15px;
    align-items: center;
}

.practice_header_logo {
    width: 105px;
}

.practice_header_logo:hover > img {
    filter: opacity(50%);
}

.practice_header_menu-left {
    margin-right: auto;
}

.practice_header_menu-left_list {
    padding-left: 10px;
    display: flex;
}

.practice_header_menu-left_list > li {
    font-size: 12px;
}

.practice_header_menu-left_list > li > a {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    text-decoration: none;
    font-weight: bold;
    color: gray;
}

.practice_header_menu-left_list > li:hover {
    background-color: rgba(17, 174, 255, 0.15);
}

.practice_header_menu-right {
    margin-left: auto;
}

.practice_header_menu-right_list {
    display: flex;
}

.practice_header_menu-right_list > li {
    padding: 0 10px;
}

.practice_header_menu-right_list > li:hover {
    background-color: rgba(17, 174, 255, 0.15);
}

.practice_header_menu-right_list > li > a {
    height: 50px;
    font-size: 10px;
    color: blue;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.practice_header_menu-button {
    padding: 15px;
    font-size: 11px;
    background-color: #2fbc5c;
    border-radius: 5px;
    color: #fff;
}

.practice_header_menu-button:hover {
    background-color: #6f9f42;
}

.practice_main {
    padding-top: 70px;
    height: 650px;
    width: 100%;
    background-size: cover;
    display: table;
    overflow: hidden;
}

.practice_main_head {
    background: url("../img/practice_bg_main.jpg") no-repeat center top scroll ;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    text-align: center;
    line-height: 1.5;
}

.practice_main_head > h1 {
    padding-top: 80px;
    font-weight: bold;
    font-size: 48px;
    text-shadow: 0 1px 20px rgba(255, 255, 255, 1), 0 1px 7px rgba(255, 255, 255, 1), 0 1px 3px rgba(255, 255, 255, 1);
    width: 100%;
}

.practice_main_head_lead {
    padding-top: 15px;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0 1px 20px rgba(255, 255, 255, 1), 0 1px 7px rgba(255, 255, 255, 1), 0 1px 3px rgba(255, 255, 255, 1);
}

.practice_main_head_button {
    margin-top: 25px;
    margin-right: -6px;
    margin-left: -6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.practice_main_head-margin {
    margin-top: 10px;
}

.practice_main_head_button-blue {
    padding: 22px 0;
    width: 250px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    background-color: #0268cc;
    color: #fff;
    text-decoration: none;
}

.practice_main_head_button-write {
    padding: 22px 0;
    width: 250px;
    color: dodgerblue;
    font-size: 15px;
    font-weight: bold;
    border: none;
    background-color: white;
    text-decoration: none;
}

.practice_main_head_button-padding {
    margin-right: 10px;
    margin-left: 10px;
}

.practice_main_head_request {
    padding: 0 20px;
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.practice_main_head_request-column {
    margin-left: 20px;
    display: inline-block;
    font-size: 36px;
    font-weight: bold;
}

.practice_main_head_request-column-small {
    font-size: 15px;
}

/* */
.practice_sub_head {
}

.practice_category {
    padding: 50px 0;
    background: royalblue;
}

.practice_category_description {
    color: white;
    font-size: 18px;
    text-align: center;
}

.practice_category_list {
    padding-top: 30px;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.practice_category_list > li > a {
    text-decoration: none;
}

.practice_category_list > li:hover{
    background: rgba(254, 255, 253, 0.20);
}

.practice_category_image {
    max-height: 50px;
    max-width: 50px;
}

.practice_category_name {
    font-size: 12px;
    color: white;
    padding-top: 8px;
    text-align: center;
}

.practice_cooperation {
    padding: 50px 15px;
    text-align: center;
}

.practice_cooperation_description {
    text-align: center;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.71);
}

.practice_cooperation_image {
    width: 100%;
    padding-top: 15px;
}

.practice_lancers_system {
    padding: 50px 0;
    margin: 0 20px;
    text-align: center;
    border: solid 5px gainsboro;
}

.practice_lancers_system_frame {
    padding: 0 20px;
}

.practice_lancers_system_something {
    font-weight: bold;
    font-size: 20px;
}

.practice_lancers_system_concept {
    padding-top: 20px;
    font-size: 13px;
    line-height: 1.5;
}

.practice_lancers_system_image_frame {
    padding: 20px 100px;
}
.practice_lancers_system_image {
    width: 100%;
}

.practice_lancers_system-button {
    padding: 20px 110px;
    width: 300px;
    background: royalblue;
    color: white;
    font-size: 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
}

.practice_lancers_merit {
    padding: 50px 0;
    margin: 0 10px;
}

.practice_lancers_merit_list {
    padding: 80px 0 30px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.practice_lancers_merit_list > li {
    width: 30%;
}

.practice_lancers_merit_image_frame {
    height: 270px;
}

.practice_lancers_merit_image {
    width: 100%;
}

.practice_lancers_merit_reason {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.practice_lancers_merit_description {
    padding-top: 30px;
    font-size: 15px;
}

.practice_lancers_merit-link {
    padding-top: 20px;
    color: purple;
    font-size: 13px;
    display: block;
}

.practice_lancers_merit-link:hover {
    text-decoration: none;
}

.practice_lancers_merit-link > i {
    padding-right: 5px;
}

.practice_lancers_merit-icn {
    padding-top: 20px;
    font-size: 13px;
    display: block;
}

.practice_support {
    padding: 80px 0 50px;
    background: url("../img/bg_service.jpg") no-repeat center top scroll;
    text-align: center;
}

.practice_support_title {
    padding-top: 30px;

}

.practice_support_title > span {
    font-size: 22px;
    font-weight: bold;
}

.practice_support_frame {
    padding: 50px 5px 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
}

.practice_support_list {
    width: 45%;
    box-shadow: 0 0px 13px rgba(0, 0, 0, 0.15);
}

.practice_support_list > img {
    width: 100%;
}

.practice_support_description {
    padding: 20px 0;
    text-align: center;
    line-height: 1.7;
}

.practice_support_form {
    font-size: 26px;
    font-weight: bold;
}

.practice_support_target {
    color: red;
    font-weight: bold;
    font-size: 15px;
}

.practice_support_button {
    padding: 20px 0;
}

.practice_support_button > a {
    padding: 15px 60px;
    background: royalblue;
    color: white;
    text-decoration: none;
    width: 300px;
    border-radius: 5px;
}

.practice_support_note {
    color: #9b9b9b;
    font-size: 12px;
}

.practice_client {
    padding-top: 50px;
}

.practice_client_frame > p {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.practice_client_slide {
    display: none;
}

.practice_client_slide_nav {
    height: 250px;
}

.practice_client_slide_nav_item {
    width: 320px;
    height: 240px;
}

.practice_client_slide_nav_item_text {
    font-size: 10px;
    color: white;
    vertical-align: bottom;
}

.practice_business {
    padding-top: 120px;
    background: rgba(220, 220, 220, 0.20);
}

.practice_business_frame > p {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.practice_business_list {
    padding: 30px 35px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.practice_business_contents {
    width: 32%;
    min-height: 410px;
    display: block;
    position: relative;
    margin-top: 20px;
    background: white;
    box-shadow: 0 0px 13px rgba(0, 0, 0, 0.15);
}

.practice_business_text {
    display: table;
    height: 80px;
    width: 100%;
    line-height: 1.5;
}

.practice_business_text > p {
    display: table-cell;
    vertical-align: middle;
    font-size: 18px;
    font-weight: bold;
}

.practice_business_contents > img {
    width: 100%;
    height: 150px;
    padding-top: 40px;
}

.practice_business_link {
    display: block;
    width: 100%;
    padding: 15px 0;
    color: cornflowerblue;
    font-size: 15px;
    text-decoration: none;
    border: 1px solid rgba(211, 211, 211, 0.10);
}

.practice_business_link:hover {
    background: rgba(17, 174, 255, 0.10);
}

.practice_business_link:before {
    content: "\f105";
    font-family: FontAwesome;
}

.practice_business_click {
    text-decoration: none;
    color: black;
}

.practice_business_click:hover {
    padding-top: 2px;
    background: rgba(220, 220, 220, 0.50);
    transition: all 200ms 0s ease;
}

.practice_business_click:hover > .practice_business_introduction > span {
    text-decoration: underline;
}

.practice_business_description {
    line-height: 1.5;
}

.practice_business_introduction {
    padding: 20px 0;
    color: cornflowerblue;
    font-size: 12px;
}

.practice_business_introduction:after {
    content: "\f08e";
    font-family: FontAwesome;
}
